data/pretrained_configs
VisualTransformer/pretrained_configs
VisualTransformer/draft.py
.idea
VisualTransformer/__pycache__
wandb
*.pyc
**/__pycache__/
**/*.pyc
**/*.pyo

small_test
small_train
outputs
/data
dvc-remote

upload.py
**draft.py
temp

dist
.dvcignore
.dvc
download_data.py
data.dvc
