data/pretrained_configs
Visual-Transformer/pretrained_configs
Visual-Transformer/draft.py
.idea
Visual-Transformer/__pycache__
wandb
*.pyc
**/__pycache__/
**/*.pyc
**/*.pyo

small_test
small_train
outputs
/data
dvc-remote

upload.py

temp